
$black: #000;
$white: #fff;

$color-1: #4F4F4F;
$color-2: #F2F2F2;
$color-3: #6F6F6F;
$color-4: #E3503C;
$color-5: #515151;

// Color Title


// Color Border


// Color icones


// Color background


// Color texto
