@font-face {
  font-family: 'ChaletComprime-CologneEighty';
  src: url('https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-CologneEighty.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletComprime-MilanEighty';
  src: url('https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-MilanEighty.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Black';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Black.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BlackItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-BlackItalic.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Bold';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Bold.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BoldItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-BoldItalic.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBold';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBold.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBoldItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBoldItalic')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Hairline';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Hairline.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-HairlineItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-HairlineItalic.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Light';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Light.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-LightItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-LightItalic.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Medium';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Medium.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-MediumItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-MediumItalic.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Regular';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Regular.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-RegularItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-RegularItalic.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Black';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Black.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BwModelica-BlackItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-BlackItalic.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Bold';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-Bold.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BoldItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-BoldItalic.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBold';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBold.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBoldItalic';
  src: url('https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBoldItalic.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletComprime-CologneEighty';
  src: url('https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-CologneEighty.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletComprime-MilanEighty';
  src: url('https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-MilanEighty.ttf.css') /*Para os demais navegadores*/;
  font-weight: normal;
  font-style: normal;
}
