@font-face {
  font-family: 'Proxima Nova';
  src: url('https://carajas.vteximg.com.br/arquivos/proxima-nova.otf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}