.cb-slider {
    &-full {
        &--desktop {
            .slick-track{
                margin: 0;
            }
            .slick-slide img {
                min-width: 100% !important;
            }
        }

        &--mobile {
            .box-banner {
                a{
                    img {
                        min-width: 100% !important;
                    }
                }
            }
        }
    }
}