.cb-topBar {
    text-align: center;
    background: $color-4;
    padding-top: 10px;
    padding-bottom: 10px;
    h2 {
        color: $white;
        font-family: 'ChaletComprime-MilanEighty';
        font-size: 27px;
        letter-spacing: 0.3px;
        line-height: 24px;
        margin: 0;
    }
}