
  
  .banner-top .box-banner a img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
  }
  
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: none !important;
  }
  
  .ui-autocomplete {
    z-index: 9999999999 !important;
    width: 513px ! important;
    border-radius: 10px !important;
  
    .ui-menu-item img {
      width: 50px !important;
      height: 50px !important;
    }
  }
  
  .header-container {
    position: sticky;
    top: 0px;
  
    /* z-index: 10000000;*/
    z-index: 999999999;
    background-color: white !important;
    padding-top: 8px;
  }
  
  body.menu-ativo:before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
  }
  
  .prateleira.vitrine h2 {
    color: #007DA5;
    text-align: center;
    font-size: 24px !important;
    margin-top: 2em;
    margin-bottom: 1.3em;
  }
  
  .section-title, h4#divTitulo {
    color: #007DA5;
    text-align: center;
    font-size: 24px;
  }
  
  .section-title::after, .prateleira.vitrine h2::after, h4#divTitulo::after {
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    margin: 12px auto 0;
    background: #007DA5;
  }
  
  .deptonav .secondLayer {
    display: none;
  }
  
  .box-banner a img {
    height: auto;
  }
  
  #top-menu {
    position: sticky;
    top: 9.9em;
    z-index: 10000000;
  }
  
  #box-bread-brumb li {
    &:before {
      color: #007EA8 !important;
    }
  
    &.last a {
      color: #007EA8 !important;
      font-weight: bold;
    }
  }
  
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .btn-default {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .text-wrap {
    font-size: 10px;
    line-height: 10px;
    margin-top: 0;
    text-align: left;
  }
  
  .header .search .busca {
    border: 1px solid #007DA5;
    border-radius: 8px;
  }
  
  .fulltext-search-box {
    color: #4F4F4F !important;
  
    /* border-radius: 20px !important; */
    outline-style: none;
    box-shadow: none;
    border-right: transparent !important;
    border-radius: 40px !important;
    font-size: 1.4em;
    height: 2.5em;
    border: none !important;
  }
  
  .btn-buscar {
    background-image: url(/arquivos/lupa.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-position: center center;
    color: transparent !important;
    outline-style: none;
    box-shadow: none;
    border: none !important;
    background-color: white !important;
  
    /* border-radius: 0px 40px 40px 0px !important; */
    background-size: 20px 20px;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  
  .header {
    .search {
      text-align: right;
      margin-right: 0;
      padding-right: 0;
    }
  
    .sing-in a {
      padding: 0 12px !important;
    }
  }
  
  .dropdown-menu {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  
  .header .sing-in a {
    font-size: 10px;
  }
  
  #drop-login {
    margin-left: -31px;
    margin-top: 15px;
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s;
  }
  
  .header .sing-in a {
    color: #000;
    font-weight: 600;
  }
  
  #mini-cart-admake {
    /*width: 386px !important;*/
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
  
  #drop-login li {
    margin: 6px;
  }
  
  #top-menu {
    margin-bottom: 0px !important;
  }
  
  .header {
    .button-menu-xs .btn {
      outline: none;
    }
  
    .mini-cart .btn {
      padding: 0 3px !important;
    }
  }
  
  #menu-mobile ul li {
    border-top: solid 1px #333;
    padding: 10px 8px 10px 16px;
  
    a {
      color: #fff !important;
      font-size: 12px !important;
      line-height: 30px !important;
      font-weight: 400 !important;
    }
  }
  
  .depto-nav-area {
    margin-top: 1.4em;
  }
  
  .deptos ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 12px;
  
    li a {
      font-size: 14px;
      line-height: 16px;
      color: #828282;
      font-weight: 400;
      text-decoration: none;
  
      &:hover {
        color: #007DA5;
        font-weight: 600;
      }
    }
  }
  
  .deptonav {
    background-color: #fff;
    padding: 1em;
    z-index: 9999999999;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .firstLayer, .secondLayer {
    background-color: #FFF;
  }
  
  #deptos-list a {
    color: #333 !important;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
  
    &:hover {
      color: #007DA5 !important;
      font-weight: bold;
    }
  
    i {
      color: #333;
      font-size: 20px;
      font-weight: 800;
      padding-left: 13px;
    }
  }
  
  .firstLayer, .secondLayer {
    /* border-right: solid 5px #931A29;*/
    height: 415px;
    overflow-y: auto;
    padding-right: 0px !important;
    padding-left: 2em;
  }
  
  ::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 3px !important;
    height: 5px !important;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #595959 !important;
  }
  
  .thirdLayer {
    height: 303px;
    overflow-y: auto;
  }
  
  #deptos-list {
    ul li {
      line-height: 30px;
      margin-top: 7px;
      margin-bottom: 7px;
    }
  
    .secondLayer ul li {
      line-height: 30px;
      margin-top: 7px;
      margin-bottom: 7px;
      display: inline-block;
      width: 50%;
    }
  
    ul li:hover #deptos-list a {
      color: white !important;
  
      i {
        color: white !important;
      }
    }
  }
  
  .sidenav {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .menu-mobile-account hr {
    display: none;
  }
  
  /* Style the sidenav links and the dropdown button */
  
  .sidenav {
    a {
      padding: 17px 8px 17px 0px;
      text-decoration: none;
      font-size: 13px;
      color: #025EB9 !important;
      font-weight: 500;
      display: block;
      text-transform: uppercase;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
    }
  
    .depto-box span {
      display: inline-block;
    }
  }
  
  .dropdown-btn {
    padding: 0;
    text-decoration: none;
    color: #8B8B8B;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
    float: right;
    padding-top: 1em;
    outline: none;
  }
  
  /* On mouse-over */
  
  .sidenav a:hover, .dropdown-btn:hover, .active {
    color: #000;
  }
  
  /* Add an active class to the active dropdown button */
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  
  .fa-angle-down, .fa-angle-up {
    float: right;
    padding-right: 8px;
    color: #025EB9;
    font-size: 25px;
  }
  
  #mini-cart-admake {
    .mini-cart-item {
      .nome-produto a {
        text-align: left;
        font-size: 15px !important;
        line-height: 20px !important;
        color: #333 !important;
        font-weight: 500 !important;
      }
  
      .qtd-valor {
        margin-top: 1em;
        color: black !important;
  
        .preco, .qtd {
          color: #931A29 !important;
          font-weight: 400 !important;
          font-size: 15px !important;
          line-height: 18px !important;
        }
      }
  
      border-bottom: 1px solid rgb(204, 204, 204) !important;
    }
  
    .mini-cart-footer .mini-cart-totais {
      background-color: #fff;
      padding: 10px;
    }
  
    #mini-cart-admake-total, .mini-cart-totais span {
      color: #333 !important;
      font-size: 20px !important;
      font-weight: 500 !important;
      line-height: 18px !important;
    }
  
    #mini-cart-admake-total {
      font-weight: 600 !important;
    }
  
    .mini-cart-itens {
      overflow-y: auto;
      max-height: 600px;
    }
  
    #mini-cart-admake-total {
      color: #333 !important;
    }
  
    right: -25px !important;
  
    .mini-cart-botao .btn-finalizar-compra {
      line-height: 26px !important;
      color: white !important;
      display: block;
      text-transform: uppercase;
      background-color: #007DA5 !important;
      font-weight: 500 !important;
      font-size: 18px !important;
      padding: 12px !important;
      text-decoration: none;
      float: right;
      width: 48%;
      border-radius: 0px !important;
      text-align: center;
    }
  }
  
  .portal-minicart-ref {
    display: none !important;
  }
  
  #mini-cart-admake .mini-cart-item .imagem {
    margin-right: 8px;
  }
  
  .slick-prev, .slick-next {
    z-index: 2;
  }
  
  .slick-prev {
    left: 5px !important;
  }
  
  .slick-next {
    right: 5px !important;
  }
  
  .fullbanner {
    .slick-prev {
      left: 24px !important;
    }
  
    .slick-next {
      right: 24px !important;
    }
  }
  
  .slick-prev::before, .slick-next::before {
    content: "" !important;
  }
  
  .vtexIdUI {
    top: 22% !important;
  
    .modal-header .close {
      display: block !important;
    }
  }
  
  #box-bread-brumb {
    padding: 10px 0 15px !important;
  }
  
  #mini-cart-admake {
    display: block !important;
    width: 100% !important;
    position: initial !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border: none !important;
  }
  
  .portal-totalizers-ref {
    display: none !important;
  }
  
  .sidenavcart {
    z-index: 9999999999;
    top: 0;
    padding: 2em;
    right: -880px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    height: 100%;
    position: fixed;
    width: 485px;
    transition: 0.5s;
    padding-top: 60px;
    background-color: white;
  
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
  
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
  
  .vtexIdUI {
    .btn-success {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #0088C3 !important;
      background-image: linear-gradient(to bottom, #0088C3, #0088C3) !important;
      background-repeat: repeat-x;
      border-color: #0088C3 #0088C3 #0088C3 !important;
      border-color: rgba(0, 136, 195, 0.1) rgba(0, 136, 195, 0.1) rgba(0, 136, 195, 0.25);
    }
  
    .modal-header {
      color: white !important;
      background: #0088C3 !important;
      border-bottom: 1px solid #0088C3 !important;
      border-top: 1px solid #0088C3;
    }
  
    a {
      color: #333 !important;
    }
  
    .btn {
      box-shadow: none !important;
    }
  
    .modal-header .close {
      background: #931A29 !important;
    }
  
    border: none !important;
  }
  
  .header .sing-in a {
    background-color: white !important;
  }
  
  .cart-top span {
    margin-right: 2px;
    vertical-align: top;
    font-weight: 600;
    font-size: 20px;
    color: rgb(79, 79, 79) !important;
  }
  
  @media screen and (max-height: 450px) {
    .sidenavcart {
      padding-top: 15px;
  
      a {
        font-size: 18px;
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    #headerrow {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
  
    .header-container {
      padding-top: 32px;
    }
  
    .slick-prev {
      left: -15px !important;
    }
  
    .slick-next {
      right: -15px !important;
    }
  
    #special-icon {
      width: 24%;
    }
  
    .depto-Ofertas {
      background-color: #007DA5;
      top: -8px;
      position: relative;
      padding: 10px 16px;
  
      a {
        color: white !important;
      }
    }
  }
  
  @media screen and (max-width: 1200px) {
    #mini-cart-admake .mini-cart-itens {
      max-height: 460px;
    }
  
    #headerrow {
      margin-top: 10px;
    }
  
    .link-logo img {
      max-width: 172px;
      margin-top: 8px;
    }
  
    .btn-buscar {
      max-width: 18px;
    }
  
    .fulltext-search-box {
      height: 2.5em;
    }
  
    .vtexIdUI {
      top: 28% !important;
    }
  
    .ui-autocomplete {
      width: 328px ! important;
      left: 20px !important;
    }
  
    #mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
      width: 62%;
    }
  
    #menu-mobile ul li a {
      color: #333 !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header {
      .search {
        text-align: center;
      }
  
      .mini-cart, .button-menu-xs {
        margin-top: 2%;
      }
    }
  
    #menu-mobile .header-menu-mobile {
      margin-top: 8%;
    }
  
    #admake-advanced-filter {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  
    .header {
      margin-bottom: -26px !important;
  
      .search .busca {
        margin-right: 12px;
      }
    }
  
    .btn-buscar {
      background-size: 18px 18px;
    }
  
    .sidenavcart {
      width: 100%;
    }
  
    .mini-cart-xs {
      margin-left: -10px;
    }
  
    .section-title, h4#divTitulo, .prateleira.vitrine h2 {
      text-align: left;
    }
  
    .section-title::after, .prateleira.vitrine h2::after, h4#divTitulo::after {
      margin: 12px 0;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    #menu-mobile {
      height: 709px;
      overflow-y: auto;
    }
  
    #usuario-cart {
      margin-top: 5px;
    }
  
    .header .search .fulltext-search-box {
      width: 90% !important;
    }
  
    .btn-buscar {
      max-width: 21px;
      margin-right: 6px;
    }
  
    .header-container {
      padding-top: 14px !important;
    }
  
    .ui-autocomplete {
      width: 358px !important;
      left: 32% !important;
    }
  }