.cb-header {

    &-search {
        .busca {

            display: flex;

            legend,
            label,
            select {
                display: none;
            }

            .fulltext-search-box{
                background: $color-2;
                padding-left: 30px;
                color: $color-5;
                font-family: 'ChaletComprime-MilanEighty';
                font-size: 28px;
                letter-spacing: 0.3px;
                line-height: 25px;
                border-radius: 0;
                height: 45px;
            }

            .btn-buscar {
                background: $color-2;
                background-image: url('//mercadosante.vteximg.com.br/arquivos/icon-busca.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 40px;
                border-radius: 0;
                border: 0;
                font-size: 0;

                &:after {
                    content: url('//mercadosante.vteximg.com.br/arquivos/icon-busca.png');
                }
            }
        }
    }

    &-user {
        ul{
            padding: 0;
            margin: 0;
            display: flex;

            li {
                img {
                    margin: 0 40px;
                }
            }
        }
    }
}