.cb-newsletter {
    background: #6dac3b;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 10px;

    &-text {
        text-align: right;
        p {
            color:white;
            font-family: 'ChaletComprime-CologneEighty';
            font-size: 40px;
            letter-spacing: 0.43px;
            text-transform: uppercase;
            line-height: 36px;
        }
    
    }

    &-input {
        #nameform,
        #emailform {
            margin-right: 25px;
            box-sizing: border-box;
            height: 45px;
            max-width: 349px;
            border-radius: 5px;
            background-color: $white;
           /* border: 1px solid $color-1;
            text-align: center;*/
            padding-left: 1em;
        }
    }
}