.cb-checkout {

    &-fluid {
        border-bottom: 1px solid #EDECEC;
    }

    &-row {
        display: flex;
    }

    &-header{
        padding: 15px 0;
        
        &-logo {
            width: 75%;
            @media (max-width: $screen-sm-max) {
                padding: 20px 0;
            }
        }

        &-lojas {
            width: 25%;
        }
    }

    &-titulos {
        width: 75%;
        display: flex;
        margin-top: 35px;
        margin-bottom: 55px;
    }

    &-btn {
        &-voltar {
            margin-top: 35px;
            width: 25%;
            text-align: right;

            a {
                letter-spacing: 0px;
                color: #007067;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                text-decoration: none;
                @media (max-width: $screen-sm-max) {
                    font-size: 10px;
                }
            }
        }
    }
}

.cb-header{
    &-checkout {
        text-align: center;
        // border-bottom: 1px solid $color-bd-7;
        padding: 30px 0;
        background: #fff;
    }



}

.body-cart {
    #cart-title {
        display: none !important;
    }
    .cb-checkout-carrinho{
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }
    .cb-checkout-identificacao {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #878787;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;

        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-pagamento {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #878787;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-confirmacao {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #878787;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}

.body-order-form{

    #orderform-title {
        display: none !important;
    }

    .cb-checkout-carrinho{
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-identificacao {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }
    .cb-checkout-pagamento {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #878787;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-confirmacao {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #878787;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}


body.body-checkout-confirmation{

    #orderform-title {
        display: none !important;
    }

    .cb-checkout-carrinho{
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-identificacao {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-pagamento {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    .cb-checkout-confirmacao {
        h2 {
            padding: 0;
            margin: 0;
            margin-right: 65px;
            letter-spacing: 0.45px;
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }
}