.cart {
    border: 0;

    table.cart-items {
        thead {
            
            tr {
                border-style: hidden;
                border: 1px solid #EDECEC !important;
                border-color: #EDECEC;
                @media (max-width: $screen-sm-max) {
                    border: 0;
                }
            }

            th.shipping-date {
                display: none;
            }

            th {
                letter-spacing: 0.25px;
                color: #1D1D1B;
                font-size: 10px;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                border-bottom: 1px solid #EDECEC !important;
            }


        }

        tbody {
            border: 1px solid #EDECEC;
            tr.product-item {
                border: 1px solid #EDECEC;
                border-radius: 2px;
                margin-bottom: 15px;
                @media (max-width: $screen-sm-max) {
                    border: 0;
                }
            }

            td {
                // border: 1px solid #EDECEC !important;
            }

            tr {
                border: 1px solid #EDECEC;
            }

            td.shipping-date {
                display: none;
            }

            td.product-name {
                width: 460px;

                a {
                    padding: 10px;
                    @media (max-width: $screen-sm-max) {
                        padding: 0 40px;
                    }
                }

                .seller{
                    @media (max-width: $screen-sm-max) {
                        padding: 0 40px;
                    }
                }
            }

            td {
                span,
                a {
                    text-decoration: none;
                    font-size: 14px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                    letter-spacing: 0.35px;

                }

                a {
                    color: #262626;
                    font-size: 12px;
                }

                span {
                    color: #007067;
                }
            }

            td.item-remove {
                i {
                    &:before {
                        content: url('//carajasevolucao.vteximg.com.br/arquivos/ico-trash.png');
                    }
                }
            }

            td.quantity {
                padding: 5px;
                .item-quantity-change{
                    i {
                        display: none;
                    }

                    
                }

                .item-quantity-change-decrement {
                    &:before {
                        content: "<";
                        font-size: 20px;
                    }
                }
                input{
                    font-size: 14px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                    letter-spacing: 0.35px;
                    color: #007067;
                    border: 0;
                    box-shadow: none;
                }

                .item-quantity-change-increment {
                    &:before {
                        content: ">";
                        font-size: 20px;
                    }
                }
            }

            td.product-price {
                .best-price {
                    .new-product-price-label {
                        display: none;
                    }
                }
                .old-product-price .muted,
                .old-product-price-label {
                    display: none;
                }
            }
        }
    }
    
    .product-image{
        min-width: 80px;
        img {
            min-width: 80px;
            height: auto;
        }
    }

}

.body-cart,
.body-order-form{
    .cart-template{
        margin-left: 0 !important;
    }
}

.cart-template{
    display: flex !important; 

    .extensions-checkout-buttons-container .row-fluid{
        display: none !important;
    }

    .extensions-checkout-buttons-container  {
        display: none !important;
    }

    div.forms.coupon-column.summary-coupon-wrap.span7.pull-left{
        display: none !important;
}

    
    .totalizers .summary-totalizers .cart-totalizers{
        order: 2;
        min-width: 100%;

        div.forms.coupon-column.summary-coupon-wrap.text-center {
            display: block !important;

        }


        .row-fluid [class*="span"]{
            margin: 0 !important;
        }
    }
}

.cart-template-holder {
    max-width: 75%;
    margin-right: 20px;
    @media (max-width: $screen-sm-max) {
        max-width: 100%;
        margin-right: 0px;
    }
    .totalizers {
        margin: 0 !important;
    }
}

.summary-template-holder {
    display: block;
    max-width: 25%;
    min-width: 25%;

    @media (max-width: $screen-sm-max) {
        position: absolute;
        top: 192px;
        max-width: 100%;
        min-width: 100%;
    }
}



.cart-links-bottom {
    display: block;
    border: 1px solid #EDECEC;
    border-radius: 2px;
    width: 293px;
    border-top: 0;
    bottom: -70px;
    position: absolute;
    right: 0px;
    padding: 20px;

    @media (max-width: $screen-sm-max) {
        width: 100%;
        top: 670px;
        left: 0;
    }
    .link-choose-more-products-wrapper {
        display: none;
    }

    a.btn-place-order {
        width: 100%;
        border-radius: 0;
        background: #FFA300;
        text-decoration: none;
        font-size: 0;
        box-shadow: none;
        border-color: transparent;
        text-shadow: none;
        @media (max-width: $screen-sm-max) {
            margin-top: -40px !important;
        } 
        &::before {
            content: 'Finalizar compra';
            letter-spacing: 0.2px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
        }
    }
}

.cart-more-options{
    min-width: 100%;
    border: 1px solid #EDECEC;
    border-radius: 2px;
    padding: 20px;

    .span7{
        order: 1 ;
    }
}

.cart-totalizers {
    min-width: 100%;
    margin: 0;
    padding: 0;
    float: none !important;
}

.span5 .totalizers .summary-totalizers .cart-totalizers .pull-right{
    width: 100%;
}

.full-cart .summary-totalizers .info {
    text-align: left !important;
    letter-spacing: 0.3px;
    color: #1D1D1B;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.full-cart .summary-totalizers .monetary {
    text-align: left !important;
    letter-spacing: 0.3px;
    color: #1D1D1B;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.accordion-heading {
    display: block;
}

.collapse:not(.show) {
    display: block;
}
.cb-checkout {
    &-container {
        &-full{
            width: 1200px !important;
        }
    }
}


.row-fluid .summary {
    display: grid;
}
    .cart-active .summary-coupon {
        margin-left: 0;
        text-align: left !important;
        color: #1D1D1B !important;
        letter-spacing: 0.3px;
        font-family: 'Raleway', sans-serif !important;
        font-weight: 500;
    }

    .full-cart .summary-totalizers {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        border: 1px solid #EDECEC;
        border-radius: 2px;
        border-bottom: 0;
        margin-top: 20px !important;
        padding: 20px;
    }

    .row-fluid [class*="span"] {
        margin: 0;
    }

    
.coupon-data {
    display: none !important;
} 

.forms .coupon-column .summary-coupon-wrap .span7 .pull-left{
    display: block;
}

.cart-active .summary-coupon{
    div{
        &:nth-child(1){
            display: block !important;
        }
    }
}

#lojista-codigo {
    label {
        margin-bottom: 10px;
    }
}

#codigologista{
    width: 100%;
}


form.coupon-form {
    input {
        height: 40px;
        border-radius: 0;
        box-shadow: none;
        width: 75%;
        color: #706F6F;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    button {
        background: #007067;
        width: 40px;
        height: 40px;
        border-radius: 0;
        box-shadow: none;
        font-size: 0;
        text-shadow: none;
        margin-left: 10px;
        &:before {
            content: 'OK';
            font-size: 12px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            color: #FFF;
        }
    }
}


.checkout-container{
    overflow: inherit;
    @media (max-width: $screen-sm-max) {
        position: relative;
    }
}




.client-pre-email {
    border: 0;

    .client-email {
        width: 100%;
    }

    input#client-pre-email{
        height: 95px;
        border: 1px solid #007067;
        padding-left: 35px;
        width: 90%;
    }

    button#btn-client-pre-email {
        height: 95px;
        padding: 2px;
        height: 87px;
        margin: 2px;
        background: #007067;
        width: 155px;
        right: 60px;
        @media (max-width: $screen-sm-max) {
            width: 100%;
            right: 0;
        }
    }

    .emailInfo {
        width: 100%;
        margin-top: 50px;
        background-color: #fff;
        border: 0;

        h3 {
            text-align: center;
            letter-spacing: 0.25px;
            color: #706F6F;
            font-size: 10px;
        }

        ul {
            margin-top: 50px;
            display: flex;
            padding: 0;
            justify-content: center;
            li {
                text-align: center;
                font-size: 10px;
                margin-right: 100px;

                &:last-child{
                    margin-right: 0;
                }
                i{
                    display: block;
                }

                &:nth-child(1){
                    i {
                        &:before {
                            content: url('//carajasevolucao.vteximg.com.br/arquivos/icon_checkout_identificar.png');
                        }
                    }
                }
                
                &:nth-child(2){
                    i {
                        &:before {
                            content: url('//carajasevolucao.vteximg.com.br/arquivos/icon_checkout_notificar.png');
                        }
                    } 
                }
                
                &:nth-child(3){
                    i {
                        &:before {
                            content: url('//carajasevolucao.vteximg.com.br/arquivos/icon_checkout_gerenciar.png');
                        }
                    }
                }
                
                &:nth-child(4){
                    i {
                        &:before {
                            content: url('//carajasevolucao.vteximg.com.br/arquivos/icon_checkout_preencher.png');
                        }
                    }
                }
            }
        }

        .icon-lock{
            display: none;
        }
    }
}

.link-cart {
    small{
        a {
            display: none;
        }
    }
}

h3.client-pre-email-h {
    display: none;
}

.step.active{
    border: 1px solid #007067;
    border-radius: 2px;
}

.accordion-heading {
    i.icon-user {
        &::before{
            content: '1.';
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }

    i.icon-home{
        &::before{
            content: '2.';
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }

    i.icon-credit-card {
        &::before{
            content: '3.';
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }
}

.accordion-toggle-active{
    text-align: left;
    letter-spacing: 0.45px;
    color: #007067;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    i.icon-user {
        &::before{
            content: '1.';
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }

    i.icon-home{
        &::before{
            content: '2.';
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }

    i.icon-credit-card {
        &::before{
            content: '3.';
            color: #007067;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }
}

.input-small + span.error {
    width: 100%;
}

.step .text label{
    display: block;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #1D1D1B;
    text-align: left;
}

.step .text input {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-top: 10px;
    border: 1px solid #EDECEC;
}

p.client-first-name{
    display: block;
    width: 100%;
}

p.client-last-name {
    display: block;
    width: 100%;
}

p.client-document{
    display: block;
    width: 100%;
}

p.client-phone{
    display: block;
    width: 100%;
}

p.client-company-ie {
    display: block;
    width: 100%;
}

p.client-company-document {
    display: block;
    width: 100%;
}

p.ship-postalCode{
    display: block;
    width: 100%;
    
    input {
        max-width: 100%;
        
    }
    
    small {
        a {
            text-decoration: underline;
            letter-spacing: 0.25px;
            color: #007067;
            font-size: 10px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }
    }
}


p.submit{
    display: block;
    width: 100%;

    button {
        width: 100%;
        background: #FFA300;
        border: 0;
        height: 40px;
        border-radius: 0;
        margin: 30px 0 0 0;
        &:hover{
            background: #FFA300;
        }
    }
}

.box-client-info-pj{
    text-align: center;
    margin: 10px 0;

    ul {
        li {
            a{
                color: #FFA300;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.client-profile-data {
    h5 {
        margin: 0 0 10px 0;
    }
}

.newsletter-text {
    letter-spacing: 0.3px;
    color: #706F6F;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;

}

button.btn.btn-large, input[type="submit"].btn.btn-large{
    width: 100%;
    background: #FFA300;
    border: 0;
    height: 40px;
    border-radius: 0;
    margin: 30px 0 0 0;
    &:hover{
        background: #FFA300;
    }
}

.vtex-omnishipping-1-x-deliveryChannelsToggle {
    background: #007067 !important;
}

p.ship-number {
    width: 100%;

    label{
        display: block;
    }
}

.cart-template {
    margin-left: 25px !important;
}

.cart-fixed{
    border: 1px solid #007067;
    border-radius: 2px;
    height: auto !important;
    padding: 20px;

    .summary-template-holder {
        max-width: 100%;
        min-width: 100%;
        background: transparent;
        border: 0;
    }

    h2 {
        background: transparent;
        text-align: left;
        letter-spacing: 0.45px;
        color: #007067;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        border: 0;
    }

    ul.cart-items {
        padding: 0;

        li {
            display: flex;

            a {
                img {
                    width: 100px;
                }
            }
        }
    }

    .item {
        border: 0;
    }

    .badge {
        background: transparent;
        border: 0;
        box-shadow: none;
    }
}

.link-gift-card{
    left: 10px;

    a{
        letter-spacing: 0.3px;
        color: #007067;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }
}

.steps-view {
    width: 79%;
}

.App {
    background: #F4F4F4;
}

#app-top{
    background: #007067;
    .mb4 {
        text-align: center;
        h1 {
            font-size: 0;
            
            padding-top: 50px;
            &:after {
                content: 'Pedido realizado com sucesso';
                text-align: center;
                letter-spacing: 1.5px;
                color: #FFFFFF;
                font-size: 60px;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
            }
        }

        time {
            span {
                text-align: center;
                letter-spacing: 1.5px;
                color: #FFFFFF;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
            }
        }
    }

    .cconf-bank-invoice-data {
        padding-top: 50px;

        &__top {
            h4 {
                letter-spacing: 1.5px;
                color: #FFFFFF;
                font-size: 20px;
                font-family: 'Raleway', sans-serif;
                font-weight: 500; 
            }
        }

        &__print {
            a {
                background: #FFA300;
            }
        }

        &__embedded {
            margin: 0;
            .b--light-silver{
                border: 0;
                border-radius: 0;
            }

            embed {
                background: #fff;
            }
        }

        .mt1{
            margin: 0;
            padding: 30px 10px;
            background: #fff;
        }
    }
}


.bg-washed-green {
    background: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    span.mb4 {
        span {
            display: none;
        }
    }

    p{
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        margin: 0;
        font-size: 14px;
        color: #fff;
    }

    .mt3 {
        margin: 0;

        span{
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            margin: 0;
            font-size: 14px;
            color: #fff;
        }
    }
}

#app-container{
    .ph3-ns {
        padding-top: 30px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 0.6px;
        color: #1D1D1B;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 24px;

        span#order-id{
            font-weight: 600;
        }
    }

    .cconf-payment,
    .cconf-profile,
    .cconf-summary {


        
        h3 {
            border-radius: 2px;
            border-top: 1px solid #EDECEC;
            border-left: 1px solid #EDECEC;
            border-right: 1px solid #EDECEC;
            margin: 0;
            padding: 10px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.45px;
            color: #007067;
        }
        .lh-copy {
            border-radius: 2px;
            border-bottom: 1px solid #EDECEC;
            border-left: 1px solid #EDECEC;
            border-right: 1px solid #EDECEC;  
            padding: 10px;

            p,
            span {
                letter-spacing: 0.3px;
                color: #1D1D1B;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 12px;
            }

            &:last-child {
                p{
                    &:last-child {
                        span{
                            span {
                                letter-spacing: 0.3px;
                                color: #1D1D1B;
                                font-family: 'Raleway', sans-serif;
                                font-weight: 500;
                                font-size: 12px;
                            }
                        }

                        span.fr{
                            span {
                                font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                letter-spacing: 0.45px;
                                color: #007067;
                            }
                        }
                    }
                }
            }
        }
    }

    .cf .pv4-ns{
        .bg-near-white,
        .bg-light-gray {
            background: transparent;
            border-radius: 2px;
            border: 1px solid #EDECEC;
            width: 100%;

            .gray,
            h4 span span{
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 18px;
                letter-spacing: 0.45px;
                color: #007067;
            }
        }
    }

    a.cconf-continue-button{
        background: #FFA300;
        height: 40px;
        border: 0;
        border-radius: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    a.cconf-myorders-button{
        background: transparent;
        height: 40px;
        border: 1px solid #FFA300;
        border-radius: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2px;
        color: #FFA300;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;  
    }
}


.cconf-product-table {
    tbody{
        tr.cconf-product {
            border-radius: 2px;
            border: 1px solid #EDECEC;
            td {
                a {
                    letter-spacing: 0.35px;
                    color: #262626;
                    text-decoration: none;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                    font-size: 14px;  
                }
            }
        }
    }
}