.cb-product-stamps {
    .promocoes-do-dia {
        background: $color-bg-3;
        padding: 10px;
        border-radius: 30px;
        width: 150px;
        color: $color-text-4;
        font-family: "Univia Pro";
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }
}