.cb-topBar {
    margin: 0;

    &-lojas {
        @media (max-width: $screen-sm-max) {
            text-align: center;
        }
        padding: 10px 0 0 0;

        .dropdown {
            display: inline-block;
        }

        button.dropdown-toggle {
            border: 0;
            background: transparent;
            font-family: 'Raleway', sans-serif;
            font-size: 11px;
            letter-spacing: 0.28px;
            color: $color-text-9;
        }

        .dropdown-menu {
            border: 0;
            min-width: 15rem;
            padding: 0;

            li {
                border-bottom: 0.5px solid $color-bd-9;
                img {
                    width: 55px;
                    height: 55px;
                    margin: 10px;
                }

                p {
                    margin: 0;
                }

                a {
                    text-decoration: none;
                    letter-spacing: 0.25px;
                    font-size: 11px;
                    font-family: 'Raleway', sans-serif;
                    color: $color-text-9;
                    padding: 0 0 0 10x;
                }
    
                &:hover {
                    background: rgba(249, 178, 51, 0.1) no-repeat padding-box;
                }

                &:first-child{
                    border-top: 0.5px solid $color-bd-9;
                }

                &:last-child {
                    padding: 10px;
                    text-align: center;
                    background: $color-bg-4;
                    border-bottom: 0;

                    a {
                        color: $color-text-5;
                        letter-spacing: 0.25px;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 600;
                    }
                }
            }
        }

        &-text {
            display: flex;
            align-items: center;
        }
    }

    &-atendimento {
        padding: 10px 0 0 0;

        @media (max-width: $screen-sm-max) {
            display: none;
        }

        ul {
            padding: 0;
            display: flex; 
            justify-content: flex-end;
            li {
                list-style: none;
                font-family: 'Raleway', sans-serif;
                font-size: 11px;
                letter-spacing: 0.28px;
                color: $color-text-9;

                &:nth-child(1){
                    margin-right: 10px;
                    &:after {
                        margin-left: 5px;
                        content: "|";
                    }
                }

                &:nth-child(2){
                    margin-right: 10px;
                    &:after {
                        margin-left: 5px;
                        content: "|";
                    }
                }

                a {
                    text-decoration: none;
                    font-family: 'Raleway', sans-serif;
                    font-size: 11px;
                    letter-spacing: 0.28px;
                    color: $color-text-9;
                }

                span {
                    font-weight: 600;
                }
            }
        }
    }
}