.cb-newsletter {
    background: $color-2;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;

    &-text {
        text-align: right;
        p {
            color: $color-1;
            font-family: ChaletComprime-CologneEighty;
            font-size: 40px;
            letter-spacing: 0.43px;
            line-height: 36px;
        }
    
    }

    &-input {
        #nameform,
        #emailform {
            margin-right: 25px;
            box-sizing: border-box;
            height: 45px;
            max-width: 349px;
            border-radius: 5px;
            background-color: $white;
            border: 1px solid $color-1;
            text-align: center;
        }
    }
}