.cb-newsletter {
    background: $color-bg-2;
    margin-top: 80px;
    padding: 25px 0;
    display: flex;
    align-items: center;

    &-text {
        display: flex;
        align-items: center;
        p{
            color: $color-text-4;
            font-family: "Univia Pro";
            font-size: 24px;
            line-height: 28px;
            margin: 0;
        }
    }

    input {
        width: 85%;
        box-sizing: border-box;
        height: 75px;
        border-top-left-radius: 58.5px;
        border-bottom-left-radius: 58.5px;
        background-color: #FFF;
        padding-left: 55px;
        border-left: 1px solid #EEE;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        border-right: 0px;
    }

    button {   
        width: 15%;
        border: 0px;
        background: #fff;
        height: 75px;
        font-size: 0px;
        top: 3px;
        position: relative;
        border-right: 1px solid #EEE;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        border-top-right-radius: 58.5px;
        border-bottom-right-radius: 58.5px;

        &:after{
            content: '\f124';
            @include cbyk-icon;
            color: $color-text-7;
            font-size: 25px;
        }
    }

    a {
        width: 100%;
        box-sizing: border-box;
        height: 75px;
        border-top-left-radius: 58.5px;
        border-bottom-left-radius: 58.5px;
        background-color: #FFF;
        border: 1px solid #EEE;
    }
}