@media (min-width: 1100px) {
    .vtex-account__menu{
        width: 30% !important;
    }

}

.b--action-primary{
    border-color: #E3503C !important;
}

.c-action-primary{
    color:#E3503C !important;
}

.bg-action-primary{
    background-color: #E3503C !important;
}

.vtex-pageHeader__children.order-2.order-0-ns .vtex-button{
    background-color: #c51e24 !important;
    border-color: #c51e24 !important;
}