.cb-search{

    .titulo-sessao {
        margin: 20px;
    }
    .searchResultsTime {
        display: none;
    }

    .sub {
        display: none;
    }

    .cb-prateleira-departament {
        ul {
            li {
                max-width: 24%;
            }
        }
    }
}