@import "_mixins/cbyk-mixins";

.cb-home{

    &-fullbanner {
        .slick-prev {
            z-index: 999;
            position: absolute;
            top: 50%;
            left: 30px;
            @include cbyk-arrows-1;
            &:after {
                content: url("//carajasevolucao.vteximg.com.br/arquivos/arrow-banner-prev.svg");
            }
        }

        .slick-next {
            z-index: 999;
            position: absolute;
            top: 50%;
            right: 30px;
            @include cbyk-arrows-1;
            &:after {
                content: url("//carajasevolucao.vteximg.com.br/arquivos/arrow-banner-next.svg");
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 0 0 0;

            li {
                list-style: none;
                font-size: 0;
                
                button {
                    border: 0;
                    margin: 0 5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    // background: $color-bg-11 !important;
                    // border-color: $color-bg-11 !important;
                }
            }

            li.slick-active {
                button {
                    border: 0;
                    margin: 0 5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    // background: $color-bg-12 !important;
                }
            }
        }
    }
}