@font-face {
  font-family: 'ChaletComprime-CologneEighty';
  src: url("https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-CologneEighty.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletComprime-MilanEighty';
  src: url("https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-MilanEighty.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Black';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Black.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BlackItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-BlackItalic.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Bold';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Bold.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BoldItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-BoldItalic.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBold';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBold.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBoldItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBoldItalic");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Hairline';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Hairline.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-HairlineItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-HairlineItalic.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Light';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Light.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-LightItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-LightItalic.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Medium';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Medium.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-MediumItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-MediumItalic.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Regular';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Regular.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-RegularItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-RegularItalic.otf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Black';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Black.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BlackItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-BlackItalic.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-Bold';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-Bold.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-BoldItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-BoldItalic.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBold';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBold.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelica-ExtraBoldItalic';
  src: url("https://mercadosante.vteximg.com.br/arquivos/BwModelica-ExtraBoldItalic.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletComprime-CologneEighty';
  src: url("https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-CologneEighty.ttf.css");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletComprime-MilanEighty';
  src: url("https://mercadosante.vteximg.com.br/arquivos/ChaletComprime-MilanEighty.ttf.css");
  font-weight: normal;
  font-style: normal;
}

#institucional-content {
  padding: 40px;
}

.Btn-acesse {
  margin-left: 16em;
}

.Btn-acesse h3 {
  font-size: 22px;
  margin-left: 12%;
  font-family: "ChaletComprime-CologneEighty";
}

.Btn-acesse li {
  border-radius: 5px;
  border: 2px solid #E3503C;
  text-align: center;
  margin-bottom: 15px;
}

.Btn-acesse a {
  color: #e3503c;
  font-size: 20px;
  text-decoration: none;
  font-family: "ChaletComprime-CologneEighty";
}

.Btn-acesse li.active {
  border-radius: 5px;
  background-color: #E3503C;
}

.Btn-acesse a.active {
  color: #FFF;
  text-decoration: none;
}
/*# sourceMappingURL=CSS.cbyk.Sa.institucional.css.map */